body {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    padding: 1.5em;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
  

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }

  h1 {
    font-size: 1.625rem;
    line-height: 38px;
  }
  
  h2 {
    font-size: 1rem; 
    line-height: 33px;
  }
  
  h3 {
    font-size: 0.8125rem; 
    line-height: 24px;
  }
  
  h4 {
    font-size: 0.8125rem;
    line-height: 20px;
    font-weight: normal;
  }
  
  p {
    font-size: 0.8125rem;
    line-height: 25px;
  }
  
  
  button {
    border: none;
    border-radius:10px;
    background-color: #0079ff;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.78125em 1em;
  }

  button:hover {
    background-color:#60abff;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.header,
main {
  width: 100%;
  max-width: 350px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 2.25em;
}
  
.header--title {
  margin-left:150px;
  cursor: pointer;
}

 .icon-dark{
  font-size: .8125rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
  margin-left: 600px;
  margin-bottom: 10px;
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  }

.user-search-bar {
    position: relative;
    width: 500px;
  }
  
  .user-search-bar--input {
    border: none;
    border-radius: 0.9375em;
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: 13px;
    line-height: 25px;
    padding: 18px 0;
    padding-left: 45px;
    padding-right: 98px;
  }

  .user-search-bar--icon {
    position: absolute;
    max-width: 20.5px;
    margin: 20px 16px 20px;
  }
  
  .user-search-bar--button {
    position: absolute;
    top: 0;
    right: 0;
    font-family: inherit;
    line-height: 25px;
    margin: 7px;
  }

.user-search-bar--no-results {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-weight: bold;
    width: 92px;
    margin: 18px 106px;
  }
  
  .user-card {
    border-radius: 0.9375em;
    color:#697c9a;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.251);
    margin-top: 1em;
    padding: 2em 1.5em 3em;
    width: 500px;
  }

  .user-card--user {
    display: flex;
  }
  
  .user-card--user-avatar {
    border-radius: 50%;
    max-width: 70px;
  }
  
  .user-card--user-avatar-wrapper {
    margin-right: 1.25em;
  }

  .user-card--bio {
    margin: 2em 0 1.375em;
  }

  .user-card--stats {
    color:black;
    display: flex;
    justify-content: space-around;
    background-color: #f6f8ff;
    border-radius: 0.625em;
    text-align: center;
    margin-bottom: 1.5em;
    padding: 1.125em 1em;
  }
  

  .user-stat-title {
  color:#2b3442;
  font-size: 0.7rem;
}

.user-stat-number {
  font-size: 1rem;
  font-weight: bold;
}

.user-card--title{
  color: black;
}

.user-info--username{
  color:#0079ff;
}


.user-card--user-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width:100%;
}

.user-info--joined-date{
  grid-area: 1/2/2/3;
 justify-self: end;
}

.user-card--contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;  
}
@media only screen and (min-width: 700px){
  .user-card--contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }}

.user-card--contact-text{
  color: #1e2a47;
  }
  
.unavailable {
  opacity: 0.25;
}

.user-card--contact-item {
  display: flex;
}

.user-card--contact-item:not(:last-child) {
  margin-bottom: 1em;
}

.user-card--contact-icon-wrapper {
  min-width: 2em;
}


body.dark-theme{
  background-color: #141d2f; 
  color:white;
}

body.dark-theme .user-search-bar--input {
  background-color:#1e2a47 ; 
}

body.dark-theme .user-card {
    background-color:#1e2a47 ;
    color:white;
  }

  body.dark-theme .user-card--stats {
    background-color: #141d2f;
  }

  
  body.dark-theme .user-card--contact-text, body.dark-theme .user-card--title{
  color:white;}

  body.dark-theme .user-card--stats, body.dark-theme .user-stat-title  {
    color:white;
  }
 
  body.dark-theme .user-card--contact-icon{
   filter: brightness(0) invert(1);
  }

  span{
    color:gray;
    cursor: pointer;
    margin-right: 1em;
  }

  /* theme switcher icon styling */
  
  body.dark-theme span, body.dark-theme .icon-dark {
    filter: brightness(0) invert(1);
   }

   body.dark-theme .toggle-icon-moon{
    visibility: hidden;
    display: none;
   }

   .toggle-icon-sun{
    visibility: hidden;
   }

   .toggle-icon-moon{
    filter: brightness(0.5) invert(1);
    position: absolute;
    margin-left: 2em;
   }

   body.dark-theme .toggle-icon-sun{
    visibility:visible;
   }